---
import ProgressBar from "../components/ProgressBar";
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";

const { frontmatter, readTime } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  url={`https://blog.shamperzon.com/${frontmatter.slug}`}
  pubDate={frontmatter.date}
>
  <ProgressBar client:idle />
  <article>
    <div class="center">
      <Title frontmatter={frontmatter} readTime={readTime} />
      <section class="markdown" dir="rtl">
        <img loading="lazy" class="my-5" alt="Mo.Makhlouf Blog intro 'بسم الله الرحمن الرحيم'" src="intro.webp">
        <slot />
        <img loading="lazy" class="my-5" alt="Mo.Makhlouf Blog outro 'وقل ربي زدني علما'" src="outro.png">
      </section>
    </div>
  </article>
</BaseLayout>
